<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: head (title='Личный кабинет доктора')"></head>
<body>

<style>
.user-row-expand {
	cursor: pointer;
}
.user-row-gyms ul, .user-row-gyms li {
	margin: 0;
	padding: 0;
}
.user-row-gyms li {
	list-style: none outside;
	margin-bottom: 11px;
}
.user-row-gyms li:last-child {
	margin-bottom: 0;
}
</style>

<h1>Список пациентов</h1>

<hr/>
	<div th:fragment="table">
		<nav>
			<a href="/messages/">Личные сообщения</a> | <a href="/">На главную</a>
		</nav>
		<table class="users-gyms table-hover" style="width: 100%; float: left;">
		    <thead>
			    <tr>
					<th style="width: 1px;"></th>
			        <th style="width: 25%;">ФИО</th>
			        <th style="width: 25%;">Дата рождения</th>
			        <th style="width: 25%;">Телефон</th>
			        <th style="width: 25%;">Статистика</th>
			    </tr>
		    </thead>
		    <tbody>
			    <tr th:each="p:${doctorPacients}">
					<td style="width: 1px; text-align: center;" class="user-row-expand">↓</td>
			    	<td colspan="4">
			    		<table style="width: 100%;">
			    			<tr>
						        <td style="width: 25%;" th:text="${p.lastName} + ', ' + ${p.firstName}"></td>
						        <td style="width: 25%;" th:text="${p.birthDate}"></td>
						        <td style="width: 25%; text-align: right;" th:text="${p.phone}"></td>
						        <td style="width: 25%;"><a th:href="@{'/lk/doctor/users/'+${p.id}}">Статистика</a></td>
				        	</tr>
				        	<tr>
					        	<td colspan="4" class="user-row-gyms" style="display: none">
						        	<ul>
						        		<li th:each="ug:${p.userGyms}" th:if="${ug.complete != 1}">
						        			<form class="user-gym-delete-form" th:action="@{/lk/doctor/gyms/remove}" th:object="${DoctorRemoveGymFromUserForm}" method="post" autocomplete="off">
						        				<label th:text="${ug.gymnastic.title}"></label>
						        				<input type="hidden" name="userGymId" th:value="${ug.id}"/>
						        				<input type="submit" class="btn btn-warning btn-xs" value="×"/>
						        			</form>
						        		</li>
						        		<li>
						        			<form class="user-gym-add-form" th:action="@{/lk/doctor/gyms/add}" th:object="${DoctorAddGymToPacient}" method="post" autocomplete="off">
						        				<select class="selectNewGym" th:field="*{gymId}">
							                        <option th:each="g:${gymsList}" th:value="${g.id}" th:text="${g.title}"/>
							                    </select>
							                    <input type="hidden" name="userId" th:value="${p.id}"/>
						        				<input type="submit" class="btn btn-success btn-xs" value="Добавить"/>
						        			</form>
						        		</li>
						        	</ul>
						        </td>
				        	</tr>
				        </table>
					</td>
			    </tr>
		    </tbody>
		</table>
	</div>
	<span th:include="layout/footer :: scripts" class="hidden"></span>
	<script th:inline="javascript">
		$(document).ready(function() {
			var $userGymDeleteForm = $('.user-gym-delete-form');
			var $userGymAddForm = $('.user-gym-add-form');
			
			$userGymDeleteForm.submit(function (event) {
        		event.preventDefault();
        		var $this = $(this);
        		$this.parents('.user-row-gyms').show();
        		submitForm($this, 10000, function (response) {
		            if (response.type === "success") {
		                $this.parent('li').remove();
		            }
		        });
        		return false;
        	});
        	
        	$userGymAddForm.submit(function(event) {
        		event.preventDefault();
        		var $this = $(this);
        		submitForm($this, 10000, function (response) {
        			if (response.type === "success") {
						var selectText = $this.find('.selectNewGym option:selected').text();
        				$('<li><b>' + selectText + '</b></li>').insertBefore($this.parent('li'));
        			}
        		});
        		return false;
        	});
			
			$('.user-row-expand').on('click', function() {
				$(this).parent('tr').find('.user-row-gyms').toggle();
			});
		});
	</script>
</body>
</html>