<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: head (title='Личный кабинет доктора')"></head>
<body>

<h1>Список пациентов</h1>

<hr/>
	<div th:fragment="table">
	
	<table class="table-hover" style="width: 48%; float: left;">
	    <thead>
		    <tr>
		        <th>ФИО</th>
		        <th>Дата рождения</th>
		        <th>Телефон</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr th:each="p:${doctorPacients}">
		        <td th:text="${p.lastName} + ', ' + ${p.firstName}"></td>
		        <td th:text="${p.birthDate}"></td>
		        <td th:text="${p.phone}" style="width: 1px; text-align: right;"></td>
		        <td><a th:href="@{'/lk/doctor/users/'+${p.id}}">Статистика</a></td>
		    </tr>
	    </tbody>
	</table>
	
	</div>
</body>
</html>