<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: head (title='Панель администратора')"></head>
<body>

<h1>Панель администратора</h1>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form th:action="@{/lk/admin/doctors}" th:object="${AdminDoctorRegistrationForm}" id="admin-doctor-registration-form" method="post" autocomplete="off" style="max-width: 400px;">
            <h4>Регистрация доктора</h4>
            <div class="form-group">
                <input type="email" th:field="*{email}" class="form-control" id="admin-doctor-registration-form-email" autocomplete="off" placeholder="example@mail.ru"/>
            </div>

            <span id="admin-doctor-registration-form-message" class="help-block" style="display: none;">
                <p class="text-danger" style="white-space: pre-wrap;"></p>
            </span>

            <input type="submit"
                   id="admin-doctor-registration-form-submit"
                   class="btn btn-success"
                   data-loading-text="Письмо отправляется…"
                   disabled="disabled"
                   value="Зарегистрировать"/>
        </form>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-7">
        <form th:action="@{/lk/admin/requests}" th:object="${AdminSetDoctorToPacientForm}" method="post" autocomplete="off" class="form-horizontal" style="max-width: 450px;">
            <h4>Назначение пациентов докторам</h4>
            <div class="form-group">
                <label for="admin-set-doctor-to-pacient-form-pacient" class="col-sm-2 control-label">Пациент:</label>
                <div class="col-sm-10">
                    <select id="admin-set-doctor-to-pacient-form-pacient" name="selectPacient" class="form-control" th:field="*{pacient}">
                        <option th:each="p:${usersList}" th:value="${p.id}" th:text="${p.lastName} + ', ' + ${p.firstName}"/>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="admin-set-doctor-to-pacient-form-doctor" class="col-sm-2 control-label">Доктор:</label>
                <div class="col-sm-10">
                    <select id="admin-set-doctor-to-pacient-form-doctor" name="selectDoctor" class="form-control" th:field="*{doctor}">
                        <option th:each="d:${doctorsList}" th:value="${d.id}" th:text="${d.lastName} + ', ' + ${d.firstName}"/>
                    </select>
                </div>
            </div>

            <input type="submit"
                   id="admin-set-doctor-to-pacient-form-submit"
                   class="btn btn-success"
                   value="Назначить"/>
        </form>
    </div>
</div>

<span th:include="layout/footer :: scripts" class="hidden"></span>

<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
  var $adminDoctorRegistrationForm = $('#admin-doctor-registration-form');
  var $adminDoctorRegistrationFormEmail = $('#admin-doctor-registration-form-email');
  var $adminDoctorRegistrationFormSubmit = $('#admin-doctor-registration-form-submit');
  var $adminDoctorRegistrationFormMessage = $('#admin-doctor-registration-form-message');

  validateAdminDoctorRegistrationForm();

  $adminDoctorRegistrationForm.find('input').on('input change', function(event) {
    validateAdminDoctorRegistrationForm();

    $adminDoctorRegistrationFormMessage.find('p').text('');
    $adminDoctorRegistrationFormMessage.hide();
  });

  $adminDoctorRegistrationForm.submit(function(event) {
    event.preventDefault();

    $adminDoctorRegistrationFormSubmit.button('loading');

    submitForm($(this), 10000, function(response) {
      if (response.type === "error") {
        $adminDoctorRegistrationFormMessage.show();
        $adminDoctorRegistrationFormMessage.find('p').text(response.message);
      } else {
        $adminDoctorRegistrationFormMessage.hide();

        $adminDoctorRegistrationForm.trigger('reset');
      }

      $adminDoctorRegistrationFormSubmit.button('reset');
      $adminDoctorRegistrationFormSubmit.attr('disabled', true);
    }, function(request, status, error) {
      $adminDoctorRegistrationFormMessage.show();
      $adminDoctorRegistrationFormMessage.find('p').text('Что-то пошло не так! Пожалуйста, попробуйте еще через некоторое время');

      $adminDoctorRegistrationFormSubmit.button('reset');
    });

    return false;
  });

  function validateAdminDoctorRegistrationForm() {
      var email = $adminDoctorRegistrationFormEmail.val().trim();

      var disabled = true;
      if (isValidEmail(email)) {
        disabled = false;
      } else {
        disabled = true
      }

      $adminDoctorRegistrationFormSubmit.attr('disabled', disabled);
    }
});
/*]]>*/
</script>

</body>
</html>