<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="create-message-form-styles">
	<style>
		.new-message {
			padding: 5px; 
			display: none;
			width: 100%;
		}
		.new-message form input {
			margin-bottom: 3px;
		}
		textarea {
			max-width: 100%;
		}
		.submit-message {
			float: right;
		}
		.message-create-form-validation-error {
			color: red;
		}
	</style>
	</div>
	<div th:fragment="create-message-form (defaultUserId)">
		<div class="create-message">
			<form class="user-create-message-form" th:action="@{/messages/create}" th:object="${UserCreateMessageForm}" method="post" autocomplete="off">
				<input id="new-message-to-user" type="hidden" name="toUserId" th:value="${defaultUserId}" />
				<input id="new-message-header" style="width:100%;" type="text" name="header" th:field="*{header}" placeholder="Заголовок"/>
				<textarea id="new-message-text" style="width:100%; height:100px;" name="message" th:field="*{message}" placeholder="Сообщение"></textarea><br/>
				<input id="new-message-create-submit" class="btn btn-default btn-sm submit-message" type="submit"/>
			</form>
			<button id="message-clear-btn" class="btn btn-default btn-sm">Очистить</button>
			<span class="message-create-form-validation-error"></span>
		</div>
	</div>
	<div th:fragment="create-message-form-js">
	<script th:inline="javascript">
		var $messageToUser;
		var $messageTextArea;
		var $messageCreateSubmit;
		var $messageCreateFormValidationError;
		
		function validateCreateMessageForm($messageToUser, $messageTextArea, $messageCreateSubmit, $messageCreateFormValidationError) {
			var disabled = false;
			var errorText = "";
			
			if ($messageToUser.val() == 0) {
				disabled = true;
				errorText = "Выберите собеседника. "
			}
			if ($messageTextArea.val().trim().length === 0) {
				disabled = true;
				errorText = "Текст сообщения не может быть пустым."
			}
			
			$messageCreateSubmit.attr('disabled', disabled);
			$messageCreateFormValidationError.text(errorText);
			$messageCreateFormValidationError.show();
		}
		$(document).ready(function() {
			$messageToUser = $('#new-message-to-user');
			$messageTextArea = $('#new-message-text');
			$messageCreateSubmit = $('#new-message-create-submit');
			$messageCreateFormValidationError = $('.message-create-form-validation-error');
			
			validateCreateMessageForm($messageToUser, $messageTextArea, $messageCreateSubmit, $messageCreateFormValidationError);
			$messageCreateFormValidationError.hide();
			
			$("#message-clear-btn").click(function() {
				$("#new-message-header").val('');
				$("#new-message-text").val('');
			});
			
			$messageTextArea.on('input change', function(event) {
				validateCreateMessageForm($messageToUser, $messageTextArea, $messageCreateSubmit, $messageCreateFormValidationError);
			});
		});
	</script>
	</div>
</body>
</html>