<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="table">

<style>
.graphics {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  margin-top: 22px;
}

.graph {
  width: 48%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

#graph-one {
  float: left;
}
#graph-two { 
  float: right;
}


</style>

<input type="hidden" id="userIdHidden" th:value="${userId}" />

<table class="table-hover" style="width: 48%; float: left;">
    <thead>
	    <tr>
	        <th>Имя</th>
	        <th>Упражнения
            <!--<select id="gyms-select">
              <option value="-1">Упражнения</option>
              <option th:each="gym : ${userGyms}" th:text="${gym.title}" th:value="${gym.id}" th:selected="${gym.id} == ${gymId}"></option>
            </select>-->
          </th>
	        <th>Прогресс</th>
	        <th>Дата</th>
	    </tr>
    </thead>
    <tbody>
	    <tr th:each="s:${userStats}">
	        <td th:text="${s.userGym.user.lastName} + ', ' + ${s.userGym.user.firstName}"></td>
	        <td th:text="${s.userGym.gymnastic.title}"></td>
	        <td th:text="${s.percent}" style="width: 1px; text-align: right;"></td>
	        <td th:text="${#dates.format(s.date, 'dd/MM/yyyy')}" style="width: 1px;"></td>
	    </tr>
    </tbody>
</table>

<div style="clear: both;"></div>
<div class="graphics">
  <div id="graph-one" class="graph"></div>
  <div id="graph-two" class="graph"></div>
</div>

</div>

<div th:fragment="scripts">
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
  var $gymsSelect = $("#gyms-select");
  $gymsSelect.change(function() {
    var gymId = parseInt($(this).val());
    if (gymId === -1) {
        window.location.href = "http://localhost:8080/lk/user";
    } else {
        window.location.href = "http://localhost:8080/lk/user/gym/" + gymId;
    }
    return true;
  });

  var userId = $("#userIdHidden").val();

  $.ajax({
    dataType: "json",
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    url: "/api/statistics/user/" + userId,
    success: function(data){
      var graph_one_data = [];
      var graph_two_data = [];
      for (var i = 0; i < data.stats.stats.length; i++) {
        var gyms = data.stats.stats[i];

        var gym_data = [];
        for (var gym_key in gyms) {
          if (gyms.hasOwnProperty(gym_key)) {
            var gym = gyms[gym_key];
            graph_two_data.push([gym[0]['gym_title'], gym[0]['percent']]);
            for (var j = 0; j < gym.length; j++) {
              gym_data.push([gym[j]['stat_date'], gym[j]['percent']]);
            }
          }
        }

        graph_one_data.push({
          label: gym['gym_title'],
          data: gym_data
        });
      }

      for (var j = 0; j < graph_one_data.length; ++j) {
        for (var i = 0; i < graph_one_data[j].data.length; ++i) {
          graph_one_data[j].data[i][0] = Date.parse(graph_one_data[j].data[i][0]);
        }
      }

      var plot_conf = {
       series: {
         lines: { 
           show: true,
           lineWidth: 2 
         }
       },
       xaxis: {
         mode: "time",
         timeformat: "%y/%m/%d",
       },
       yaxis: {
         max: 100
        } 
      };


      $.plot("#graph-one", graph_one_data, plot_conf);
      $.plot("#graph-two", [graph_two_data], {
        series: {
          bars: {
            show: true,
            barWidth: 0.6,
            align: "center"
          }
        },
        xaxis: {
          mode: "categories",
          tickLength: 0
        },
        yaxis: {
          max: 100
        }
      });
    }
  });
});
/*]]>*/
</script>
</div>
</body>
</html>