<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="head (title)">
  <meta charset="UTF-8"/>
  <title th:text="${title} + ' | Медицинский портал'"></title>
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
</div>

<div th:fragment="header (title, titleLink)">

<div th:switch="${titleLink}">
  <h1 th:case="#{false}" th:text="${title}"></h1>
  <h1 th:case="#{true}"><a href="/">Главная страница</a></h1>
</div>

<hr/>
</div>

</body>
</html>