<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title='Вход'">
<head th:include="layout/header :: head (title=${title})"></head>
<body>

<div th:include="layout/header :: header (title=${title},titleLink=#{true})"></div>

<style>
#login-form {
    width: 300px;
}
</style>

<form th:action="@{/auth/login}" id="login-form" method="post">
    <h2>Вход</h2>

    <div class="form-group">
        <label for="username">Эл. почта</label>
        <input type="text" id="username" name="username" placeholder="example@mail.ru" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="uWnp6x" class="form-control"/>
    </div>

    <div th:if="${param.error}" class="help-block">
        Нет такого логина/пароля
    </div>
    <div th:if="${param.logout}" class="help-block">
        Вы вышли
    </div>

    <input type="submit"
       class="btn btn-success"
       value="Войти"/>
</form>

<span th:include="layout/footer :: scripts" class="hidden"></span>


</body>
</html>