<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: head (title=${title})"></head>
<body>

<span th:include="forms/user-registration :: reg-form-styles" class="hidden"></span>

<div th:include="layout/header :: header (title=${title},titleLink=#{true})"></div>

<span th:include="forms/user-registration :: reg-form"></span>

<span th:include="layout/footer :: scripts" class="hidden"></span>

<span th:include="forms/user-registration :: reg-form-js" class="hidden"></span>

</body>
</html>